/* La font sera est Lato */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

main {
    max-width: 50%;
    min-width: 200px;
    margin-left: 25vw;
    background: linear-gradient(to right, #F6F6F6 0% 50%, white 50% 0%);

}

#diceFace {
    height: 100px;
    width: 100px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}

.btnSpace p {
   margin-top: 1rem;
   margin-left: .5rem;
}


#btnNewGame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.content {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* background: lawngreen; */
}

#left {
    margin-left: 4rem;
}

#diceFace {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: -3rem;
    box-shadow: 2px 2px 30px rgb(218, 218, 218);
}

#right {
    margin-left: 4rem;
}

#globalPlayer1 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: lighter; /* n'a pas d'effet pourquoi ? */
    color: #E04E46;
}

#globalPlayer2 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: lighter; /* n'a pas d'effet pourquoi ? */
    color: #E04E46;
}

.roundPlayer {
    margin-top: 10rem;
    display: grid;
    justify-content: center;
    margin-top: 15rem;
    padding: .5rem;
    background: #E04E46;
}

#roundPlayer2, #roundPlayer1 {
    display: flex;
    justify-content: center;
    color: white;
}

#btnPlay {
    display: flex;
    flex-direction: column;
    margin-top: -9rem;
}

svg {
    color: #E04E46;
}

#cercle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #E04E46;
    margin-left: 1rem;
    margin-top: .5rem;
}

#player1, #player2 {
    display: flex;
}


/* background color : F6F6F6 le gris*/







